In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv',sep=';', error_bad_lines=False,encoding='cp1251')

In [3]:
df.head()

     dateTime   type        region    source    medium
0  2017-01-10  (All)  (Вся Россия)  (direct)    (none)
1  2017-01-10  (All)  (Вся Россия)    yandex   organic
2  2017-01-10  (All)  (Вся Россия)  lk.rt.ru  referral
3  2017-01-10  (All)  (Вся Россия)    google   organic
4  2017-01-10  (All)  (Вся Россия)     rt.ru  referral

In [5]:
df['month']=pd.DatetimeIndex(df['dateTime']).month

In [46]:
data=df.pivot_table(index=['month','region'],values=['source','medium'],aggfunc=pd.Series.nunique).reset_index()

In [47]:
data.head(15)

    month               region  medium  source
0       1         (Вся Россия)      58    3165
1       1                Волга      62    2563
2       1       Дальний Восток      70    2171
3       1  Москва (без Onlime)      49    2645
4       1   Московская область      33    1197
5       1         Северо-Запад      59    2764
6       1               Сибирь      63    2450
7       1                 Урал      66    2963
8       1                Центр      66    2445
9       1                   Юг      49    2356
10      2         (Вся Россия)      73    3690
11      2                Волга      51    2274
12      2       Дальний Восток      60    2059
13      2  Москва (без Onlime)      50    2330
14      2   Московская область      34    1153

In [48]:
data.rename(columns={'month':'месяц','region':'регион','source':'колчиество источников (sourse)', 
                     'medium':'количество каналов (medium)'},inplace=True)

In [49]:
data.head()

,месяц,регион,количество каналов (medium),колчиество источников (sourse)
0,1,(Вся Россия),58,3165
1,1,Волга,62,2563
2,1,Дальний Восток,70,2171
3,1,Москва (без Onlime),49,2645
4,1,Московская область,33,1197

In [53]:
data.to_csv('pivot_table.csv',sep=';',index=False,encoding='cp1251')